.outer-grid {
  display: flex;
  flex-direction: row;
  background: #AA3800;
  color: white;
  margin: 1vh;
  padding: 1vh;
}

.inner-grid {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: #BF9620;
  color: white;
  margin: 1vh;
  padding: 1vh;
  width: 49vh;
}

.focus-item {
  border: 2px solid transparent;
  flex: 1 0 auto;
  background: #237CA1;
  color: white;
  margin: 1vh;
  padding: 1vh;
  width: 45vh;
}

.focus-status-active {
  border-color: black;
}

.focus-status-focused,
.focus-item:focus {
  border-color: white;
}

body {
  text-align: center;
  background-color: #bbaa00
}

a {
  cursor: pointer;
  width: 100px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  padding: 10px 2px;
  background: #23A169;
  font-weight: bold;
}